body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* navbar başlangıç */
.logo-webstudio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-studio{
    color: #2e2f42;
}
.navbar-menu a{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.navbar-menu a:hover{
    color: #404bbf;
}
.nav-address a{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-address{
    font-style: normal;
}
.nav-address a:hover{
    color: #404bbf;
}
/* navbar bitiş */
/* main secitons 1.bölüm başlangıç*/
.main-section{
    background-color: #2e2f42;
}
.main-section-head{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.main-section-button{
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.main-section-button:hover{
   background-color:#404BBF;
}
/* main section 1.bölüm bitiş*/
/* main section-mission 2.bölüm başlangıç*/
.section-mission h2,h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mission-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* main section-mission 2.bölüm bitiş*/
/* 3.bölüm section-ourteam başlangıç*/
.section-ourteam{
    background-color: #F4F4FD;
}
.section-ourteam-head{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-ourteam-second{
    background-color: #FFFFFF;
}
.ourteam-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*3bölüm bitiş*/
/*4.bölüm başlangıç*/
.section-ourportfolio{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    }